body {
  font-family: 'Roboto', sans-serif;
}

table {
  width: 600px;
  border-collapse: separate;
}

th, td {
  padding: 7px;
}

th {
  text-transform: uppercase;
  border-top: 1px solid #999;
  border-bottom: 1px solid #111;
  text-align: left;
  font-size: 90%;
  letter-spacing: 0.1em;
}

tr.alterna {
  background-color: #efefef;
}

.num {
  text-align: right;
}

tr:hover {
  background: rgb(255, 183, 183);
}